<div class="subContent">
	<fieldset class="oneline">
		<label for="news_title">Title</label>
		<%= text_field 'news', 'title' , :class => "large_text_input", :size => "30" %>
	</fieldset>
	<div class="mceFrame">
	  <%= text_area  'news', 'body', :class => 'text_area_large', :cols => 40, :rows => 20 %><br/>
	</div>
	<div class="bottom"></div>
</div>
