<h1><%= figure_out_action(@admin_user) %> User <%=h @admin_user.fullname %> (<%=h @admin_user.username %>) </h1>

<% form_for(:admin_user, @admin_user, :url => { :action => :update } ) do |f| %>

    <%= render :partial => "form", :locals => {:f=>f} %>

<% end %>

