/* ***************************************************
 * overlay Bagel style
 * dotProjects 2007
 * ***************************************************/

/* OVERLAY LAYOUT (mixed)
 * ***************************************************/

 	.overlay { background-color: #000; }
 	.overlay-cont { padding: 10px; }
		
	/* some styling for small popup box */
	
	div.megaPopup
	{
		width: 830px;
		height: 480px;
		background: url('../../images/bluegel/overflow_mega_big.png') no-repeat top left;
		position: relative;
		margin: 0 auto 0 auto;
	}
	
	div.bigPopup
	{
		width: 450px;
		height: 281px;
		background: url('../../images/bluegel/overlay_big.png') no-repeat top left;
		position: relative;
		margin: 0 auto 0 auto;
	}
	div.savePopup,
	div.smallPopup
	{
		width: 310px;
		height: 125px;
		background: url('../../images/bluegel/overlay_med.png') no-repeat top left;
		margin: 0 auto 0 auto;
		position: relative;
	}
	div.megaPopup a.close,
	div.bigPopup a.close,
	div.smallPopup a.close
	{
		width: 24px;
		height: 24px;
		line-height: 5000px;
		overflow: hidden;
		display: block;
		position: absolute;
		top: 4px;
		right: 11px;
		background: #000 url('../../images/bluegel/icons/icon_close.png') no-repeat top left;
	}
	div.bigPopup a.createGrLight
	{
		position: absolute;
		top: 12px;
		left: 120px;
		top: 6px;
	}
	div.megaPopup .spinner,
	div.savePopup .spinner,
	div.bigPopup .spinner,
	div.smallPopup .spinner
	{
		position: absolute;
		background: url('../../images/bluegel/loader.gif') no-repeat top left;
		width: 220px;
		height: 19px;
		left: 50%;
		top: 50%;
		margin: 5px 0 0 -110px;
	}
	div.megaPopup .headerinf,
	div.bigPopup .headerinf,
	div.smallPopup .headerinf
	{
		position: absolute;
		top: 10px;
		right: 50px;
		color: #666;
	}
	
	/* Specific task styles */
	
		div.smallPopup .newTagFrame,
		div.smallPopup .subTag
		{
			width: 285px;
			margin: 0 auto 0 auto;
			padding: 11px 0 0 0;
		}
		div.smallPopup .subTag h3 { padding: 0; margin: 0 0 28px 0; }
		div.smallPopup .subTag select { width: 285px; }
		div.smallPopup .subTag .buttons { margin-top: 10px; }
		
		div.smallPopup .newTagFrame h3 { padding: 0; margin: 0 0 4px 0; }
		div.smallPopup .newTagFrame label { display: block; }
		div.smallPopup .newTagFrame input.text { width: 280px; }
		div.smallPopup .newTagFrame select { width: 190px; }
		div.smallPopup .newTagFrame input.button { width: 88px; }
		
		div.megaPopup .relation,
		div.bigPopup .relation
		{
			width: 420px;
			margin: 0 auto 0 auto;
			padding: 11px 0 0 0;
		}
		
		div.megaPopup .relation { width: 800px; }
		div.megaPopup .relationContent
		{
			width: 800px;
			overflow: hidden;
			overflow-y: auto;
			height: 340px;
			margin-top: 20px;
		}
		div.megaPopup .relationContent .subContent
		{
			margin: 0 auto 0 auto;
			padding: 0;
			background: none;
			width: 777px;
		}
		div.megaPopup .relationContent .subContent div.mceFrame { padding: 0; margin: 0; }
		div.megaPopup .relationContent .subContent .large_text_input { width: 560px; }
		div.megaPopup .relationContent .text_area_large,
		div.megaPopup .relationContent .subContent .text_area_large
		{
			width: 772px;
			height: 250px;
			margin: 0;
			padding: 0;
			border: 1px solid #ccc;
			margin: 5px 0 5px 0;
			overflow: auto;
			overflow-y: scroll;
			margin: 5px auto 5px auto;
		}
		div.megaPopup .subContent .bottom { display: none; }
		div.megaPopup .relationContent fieldset.oneline
		{
			width: 765px;
			margin: 0 auto 0 auto;
			padding: 5px;
			border: 1px solid #ccc;
			background-color: #F3F3F3;
			margin-bottom: 5px; 
		}
	
		
		div.megaPopup .relation h3,
		div.bigPopup .relation h3 { padding: 0; margin: 0 0 18px 0; }
		div.megaPopup .relation label,
		div.bigPopup .relation label { float: left; padding-top: 3px; margin-right: 65px; }
		div.megaPopup .relation fieldset,
		div.bigPopup .relation fieldset { background-color: #DADADA; margin-bottom: 8px; padding: 5px; }
		div.megaPopup .relation fieldset.search
		div.bigPopup .relation fieldset.search
		{ 
			border-bottom: 1px solid #DADADA;
			background-color: #EAEAEA;
		}
		div.bigPopup .relation fieldset.search input { float: right; width: 266px; }
		div.bigPopup .relation fieldset select { float: right; width: 270px; }
		div.megaPopup .relation fieldset select  { width: 640px; }
		div.bigPopup .relation .relContent
		{ 
			overflow: auto;
			overflow-x: hidden;
			width: 420px;
			margin: 3px auto 0 auto;
			height: 144px;
		}
		div.bigPopup .relation .spinner
		{
			background-color: #fff;
			background-position: center 35px;
			width: 420px;
			height: 150px;
			left: 15px;
			top: 116px;
			margin: 0;
		}
		div.bigPopup .relation .relContent table
		{
			width: 419px;
			border-top: 1px solid #DADADA;
			border-left: 1px solid #DADADA;
			border-right: 1px solid #DADADA;
			border-collapse: collapse;
			margin-left: 1px;
			margin-top: 2px;
		}
		div.bigPopup .relation .relContent table td { padding: 2px; }
		div.bigPopup .relation .relContent table tr.header td,
		div.bigPopup .relation .relContent table td
		{ 
			font-weight: bold;
			border-bottom: 1px solid #DADADA;
			background-color: #EAEAEA;
		}
		div.bigPopup .relation .relContent table td.firstRow { width: 220px; }
		div.bigPopup .relation .relContent table td { background: #fff; font-weight: normal; padding: 2px; }
		div.bigPopup .relation .relContent table td.imgContainer { color: #666; padding: 12px; text-align: center; }
		div.bigPopup .relation .relContent table td.imgContainer img { border: 1px solid #6D6D6D; }
		div.bigPopup .relation .relContent table.imgTable { margin-top: 18px; }
		
		div.imageBlock {
			background-color: #fff;
			padding: 12px;
			text-align: center;
		}
		div.imageBlock a 
		{
			display: block;
		}
		div.savePopup h1
		{
			width: 300px;
			text-align: center;
			margin: 0 auto 0 auto;
			padding-top: 30px;
			font-size: 13px;
		}
