<h1>Reset Password</h1>

<% if flash[:notice] %>
<p style="color: red"><%= flash[:notice] %></p>
<% end %>

<% form_tag :action => 'reset_password' do %>

<%= hidden_field_tag :code, params[:code] %>

<dl>
	<dt>New password</dt>
	<dd><%= password_field_tag :new_password %></dd>
		
	<dt>New password (repeated)</dt>
	<dd><%= password_field_tag :new_password_confirmation %></dd>
</dl>

<%= submit_tag 'Reset Password' %>

<% end %>
