Dear <%= @admin_user.firstname %>,

Somebody, probably you, has requested your password to be reset. In order to do so, please click on this link:

  <%= reset_password_url(:username => @admin_user.username, :code => @admin_user.password_code) %>

If you received this message without asking for your password to be reset, it means that someone may have requested a password reset for your username, probably accidentally. In this case, please disregard this message.

The Bagel team
