<table>
    <tr><% keys = []; @forms.first.data.each_key do |key| keys << key.to_sym -%><th><%= key%></th><% end %></tr>

    <% @forms.each do |f| -%>
        <tr><% keys.each do |key| %><td><%= f.send(key) %></td><% end %></tr>
    <% end-%>

</table>
