<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--
     _                      _
    | |                    | |
    | |__   __ _  __ _  ___| |
    | '_ \ / _` |/ _` |/ _ \ |
    | |_) | (_| | (_| |  __/ |
    |_.__/ \__,_|\__, |\___|_|
                  __/ |
                 |___/

    created by dotProjects

-->
<title>Bagel Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- do some beauty -->
<%= stylesheet_link_tag "bluegel/style.css", :plugin => "bagel" %>
<%= stylesheet_link_tag "bluegel/overlay.css", :plugin => "bagel" %>

<!-- bagel specific stylesheets -->
<%= stylesheet_link_tag 'drag-drop-folder-tree', :plugin => "bagel" %>
<%= stylesheet_link_tag 'calendar-system.css', :plugin => "bagel" %>

<!-- do some magic (aligned to the left to preserve structure) -->
<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce if using_tiny_mce? %>

<!-- load prototype/scriptaculous bundle -->
<%= javascript_include_tag 'prototype/prototype', :plugin => "bagel" %>
<%= javascript_include_tag 'prototype/effects', :plugin => "bagel" %>
<%= javascript_include_tag 'prototype/dragdrop', :plugin => "bagel" %>
<%= javascript_include_tag 'prototype/controls', :plugin => "bagel" %>
<%= javascript_include_tag 'bagelCollapse', :plugin => "bagel" %>
<%= javascript_include_tag 'bagelOverlay', :plugin => "bagel" %>
<%= javascript_include_tag 'bagelTagdrag', :plugin => "bagel" %>
<%= javascript_include_tag 'bagelRelation', :plugin => "bagel" %>
<%= javascript_include_tag 'application', :plugin => "bagel" %>

<!-- load other handy scripts -->
<%= javascript_include_tag 'swfobject', :plugin => "bagel" %>
<%= javascript_include_tag 'popup', :plugin => "bagel" %>
<%= javascript_include_tag 'tabcontrol', :plugin => "bagel" %>
<% # dragdrop folder %>
<%= javascript_include_tag 'drag-drop-folder-tree', :plugin => "bagel" %>
<%= javascript_include_tag 'ajax', :plugin => "bagel" %>
<% # js calendar %>
<%= javascript_include_tag 'calendar', 'calendar-en', 'calendar-setup', :plugin => "bagel" %>

<% if @content_for_page_scripts -%>
<script type="text/javascript">
// <![CDATA[
<%= @content_for_page_scripts %>
// ]]>
</script>
<% end -%>

</head>
<body>

	<div id="mainContainer">
		<div id="header">
			<!-- Toolbar (logout, view, help, ...) -->
			<ul class="toolBar"> 
				<li><%= link_to('Help', 'http://wiki.bagel.be/', :class => "help") %></li>
				<li><%= link_to 'Account', '/admin/me/edit' %></li>
				<li><%= link_to 'Logout', logout_url %></li>
			</ul>
			<!-- Main Menu -->
			<ul class="mainMenu">
<%# To edit the menu, look into vendor/plugins/bagel/admin_menu.yml %>
<% active_menu_item = nil %>
<% AppConfig[:admin_menu].each do |menu_item| %>
				<% is_active = menu_item_is_active?(menu_item, request.env) %>
				<% active_menu_item = menu_item if is_active %>
				<li><%= link_to_if_authorized menu_item['title'], menu_item['url'], :class => (is_active ? 'active' : '') %></li>
<% end %>
			</ul>
			<!-- Sub Menu -->
			<ul class="subMenu">
<% menu_item_children(active_menu_item).each do |child| %>
				<li><%= link_to_if_authorized child['title'], child['url'] %></li>
<% end %>
			</ul>
		</div>
		<div id="content">

			<div id="flash-messages">
				<% unless flash[:help].nil? %><div class="flash-help"><%= flash[:help] %></div><% end %>
				<% unless flash[:notice].nil? %><div class="flash-notice"><%= flash[:notice] %></div><% end %>
				<% unless flash[:warning].nil? %><div class="flash-warning"><%= flash[:warning] %></div><% end %>
				<% unless flash[:confirm].nil? %><div class="flash-confirm"><%= flash[:confirm] %></div><% end %>
				<% unless flash[:error].nil? %><div class="flash-error"><%= flash[:error] %></div><% end %>
				<div class="flash-notice" style="display: none;" id="flashNotice"></div>
			</div>

			<!-- content for layout begin -->
			<%= @content_for_layout %>
			<!-- content for layout end -->
		</div>
	</div>
	<div id="footer">Bagel is a product by dotProjects - (c) 2007</div>

</body>
</html>
